<div *ngIf="!productosService.cargando" class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">

    <a *ngFor="let product of productosService.productosFiltrado"
    [routerLink]="['/item',product.cod]" class="animated wobble rk-item ae-masonry__item"><img src="assets/productos/{{product.url}}.jpg" alt="">
    <div class="item-meta">
      <h2>{{product.titulo}}</h2>
      <p>{{product.categoria}}</p>
    </div></a>

</div>
