<app-header></app-header>

<section class="ae-container-fluid rk-main">
  <!-- <app-portafolio></app-portafolio> -->
  <!-- <app-about></app-about> -->
  <!-- <app-item></app-item> -->

  <router-outlet></router-outlet>
</section>


<app-footer></app-footer>
